
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 40px;
    z-index: 20;
    box-shadow: 0px 10px 8px 1px rgba(174, 206, 228, 0.29);
}

header .logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
}

.logo svg {
    font-size: 40px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav a {
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
}

.nav svg {
    font-size: 30px;
}

header .nav-btn {
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    opacity: 0;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: block;
        opacity: 1;
    }

    header .nav {
        display: none;
    }

    header .responsive_nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--white-color);
        transition: 1s;
        transform: translateY(100vh);
    }

    .nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}