.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1170px;
    padding: 0 40px;
}

.help-row a,
.input-field input,
.input-field label {
    color: var(--primary-color);
}

.container-svg {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-svg img {
    width: 100%;
}

.form-wrapper {
    width: 40%;
    position: relative;
    padding: 45px 38px;
    background-color: var(--white-color);
    border: 1px solid #e9ecee;
    box-sizing: border-box;
    box-shadow: 15px 15px 0 #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.switch-buttons {
    background-color: var(--secondary-color);
    padding: 4px 6px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: fit-content;
}

.button button,
.switch-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .5px;
    width: 124px;
    min-width: auto;
    transition: background-color .3s ease-in-out;
}

.input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field .input-container {
    width: 95%;
}

.input-field svg {
    font-size: 20px;
    margin-top: 5px;
}

form .input-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 20px 0 10px 0;
}

.input-field input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    background: none;
    outline: none;
    border: none;

}

.input-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    background: #579BB1;
    background: -webkit-linear-gradient(left, #134e9d, rgb(198, 220, 225), #ddeaec);
    background: -o-linear-gradient(left, #134e9d, rgb(198, 220, 225), #ddeaec);
    background: -moz-linear-gradient(left, #134e9d, rgb(198, 220, 225), #ddeaec);
    background: linear-gradient(left, #134e9d, rgb(198, 220, 225), #ddeaec)
}

.input-field input:focus~label,
.input-field input:valid~label {
    top: -5px;
    color: var(--primary-color);
}

.input-field input:focus~span::before,
.input-field input:valid~span::before {
    width: 100%;
}

.input .error {
    margin: 0 0 20px 20px;
    color: #c62828;
}

.help-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;
}

.help-row a {
    font-weight: 700
}

.button {
    display: flex;
    justify-content: center;
    align-items: center
}

.button button {
    height: 50px;
    background-color: var(--primary-color);
    color: var(--white-color)
}

.button button:hover {
    background-color: var(--button-color);
    border: var(--primary-color) 1px solid;
    transition: background-color .3s ease-in-out;
}

.switch-buttons button.active {
    font-weight: 900;
}


@media (max-width: 767px) {


    .container-login {
        flex-direction: column;
        padding: 0;
    }

    .container-login>* {
        width: 100%;
        margin: 0;
    }

    .form-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 5px;
    }

    .popup-form {
        width: 80%;
    }

    .container-svg {
        width: 100%;
        margin-bottom: 20px;
    }

    .input-field input {
        font-size: 14px;
    }


    .button button,
    .switch-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
}