.not-found {
    padding: 50px;
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(50%);
    justify-content: center;
    text-align: center;
    line-height: 32px;
    flex-direction: column;
}